*a) Ingresar producto: debe ingresarse el nombre y el precio del producto. Tendrá un sub menú: nuevo producto, guardar archivo o volver.*

In [36]:
import pandas as pd
from datetime import datetime


g_detalle_facturas = []

mix_inicial = {   
    'nombre': ['Arroz', 'Fideos', 'Aceite de cocina', 'Harina', 'Leche', 'Azúcar', 'Café', 'Pan', 'Galletas', 'Mantequilla',
               'Queso', 'Yogur', 'Agua mineral', 'Jugos', 'Frutas frescas', 'Verduras', 'Carne de pollo', 'Carne de res',
               'Pescado', 'Helado'],
    'precio': [1500, 1200, 18000, 2000, 3000, 2500, 5000, 1500, 3500, 2800, 6000, 2000, 1200, 4000, 7000, 5500, 4800, 10000, 9000, 2500]
}

# Precargar el diccionario productos_master con los datos proporcionados
productos_master = {'producto': [{'nombre': nombre, 'precio': precio} for nombre, precio in zip(mix_inicial['nombre'], mix_inicial['precio'])]}

def agregar_producto(productos_master, nombre_producto, precio_producto):
    
    if 'producto' in productos_master:
        
        if nombre_producto in [producto['nombre'] for producto in productos_master['producto']]:
            print('_' * 50)
            print(f"El producto '{nombre_producto}' ya se encuentra en la lista.")
            print('_' * 50)
        else:
            
            productos_master['producto'].append({'nombre': nombre_producto, 'precio': precio_producto})
    else:
        
        productos_master['producto'] = [{'nombre': nombre_producto, 'precio': precio_producto}]

def mostrar_productos_en_df(productos_master):
    if 'producto' in productos_master:
        df = pd.DataFrame(productos_master['producto'])
        print(' Lista de Productos '.center(50, '='))
        print('_' * 50)
        print(df)
    else:
        print("El diccionario no contiene información de productos.")

#agregar_producto(productos_master, 'Manzana', 0.5)
#agregar_producto(productos_master, 'Plátano', 0.3)
#agregar_producto(productos_master, 'Naranja', 0.4)
#agregar_producto(productos_master, 'Manzana', 0.5)  # Este producto ya está en la lista

*b) Ingresar factura: debe ingresarse el nombre del cliente, luego deberá generar un submenú: ingresar producto, guardar y salir. Los productos se ingresan con nombre y precio. La factura además debe guardar la fecha y hora actual de la venta.*

In [58]:
def ingresar_factura(nombre, productos_lista, precio_lista):
    global g_codigo_factura
    global g_monto_total_vendido
    global g_detalle_facturas

    fecha = datetime.now()
    dia_factura = fecha.date()
    hora_factura = fecha.time().strftime('%H:%M')

    codigo_factura = str(fecha)
    codigo_factura = codigo_factura.replace('-',  '').replace(':', '').replace('.', '').replace(' ', '')
    codigo_factura_lista = [codigo_factura] * len(productos_lista)
    nombre_lista = [nombre] * len(productos_lista)
    dia = [dia_factura] * len(productos_lista)
    hora = [hora_factura] * len(productos_lista)

    df_factura = pd.DataFrame({'Codigo Factura' : codigo_factura_lista, 'Nombre Cliente': nombre_lista, 'Productos': productos_lista, '$': precio_lista, 'Fecha': dia, 'Hora': hora})

    factura_productos_por_clientes = df_factura.groupby(['Nombre Cliente', 'Productos', 'Fecha', 'Hora'])['$'].sum().reset_index()

    df_factura_productos_por_cliente = factura_productos_por_clientes.pivot_table(index=['Nombre Cliente', 'Productos'], columns=['Fecha', 'Hora'], values='$',
                                                                                     aggfunc='sum', fill_value=0)

    g_detalle_facturas.append(df_factura)
    print(df_factura_productos_por_cliente)


def ventas_por_usuario():

    df_ventas_por_usuario = df.groupby(['Codigo Factura', 'Nombre Cliente'])['$'].sum().reset_index()
    df_ventas_por_usuario = df_ventas_por_usuario.sort_values(by='Nombre Cliente')
    print(df_ventas_por_usuario)

    
def ventas_por_producto():    
    
    df_ventas_por_producto = df.groupby('Productos')['$'].agg(TotalVendido='sum', CantidadVendida='count').reset_index()
    print(df_ventas_por_producto)


def ventas_diarias():

    df_ventas_diarias = df.groupby(['Codigo Factura', 'Fecha', 'Nombre Cliente'])['$'].sum().reset_index()
    df_ventas_diarias = df_ventas_diarias.groupby('Fecha')['$'].agg(Total='sum', Cantidad='count').reset_index()
    print(df_ventas_diarias)

def ventas_totales():

    df_ventas_totales = df.groupby('Codigo Factura')['$'].sum().reset_index()

    total_filas = len(df_ventas_totales)
    total_venta = df_ventas_totales['$'].sum()

    resumen_df = pd.DataFrame({
        'Cantidad Ventas': [total_filas],
        '$ Total Vendido': [total_venta]
    })

    print(resumen_df)

In [61]:


# Convertir los datos en un DataFrame
df = pd.concat([pd.DataFrame(item) for item in g_detalle_facturas], ignore_index=True)

# Mostrar el DataFrame
print(df)

          Codigo Factura  Nombre Cliente Productos     $       Fecha   Hora
0   20240331130521551546    José Ignacio   Manzana   350  2024-03-31  13:05
1   20240331130521551546    José Ignacio   Plátano   520  2024-03-31  13:05
2   20240331130521551546    José Ignacio  Condones    40  2024-03-31  13:05
3   20240331130534687298  Deyanira Garay  Cigarros  3500  2024-03-31  13:05
4   20240331130534687298  Deyanira Garay   Chicles   250  2024-03-31  13:05
5   20240331174100051738  Deyanira Garay  Cigarros  3500  2024-03-31  17:41
6   20240331174100051738  Deyanira Garay   Chicles   250  2024-03-31  17:41
7   20240331174100082420    José Ignacio   Manzana   350  2024-03-31  17:41
8   20240331174100082420    José Ignacio   Plátano   520  2024-03-31  17:41
9   20240331174100082420    José Ignacio  Condones    40  2024-03-31  17:41
10  20240331174234852658  Deyanira Garay  Cigarros  3500  2024-03-31  17:42
11  20240331174234852658  Deyanira Garay   Chicles   250  2024-03-31  17:42
12  20240331174234898681    José Ignacio   Manzana   350  2024-03-31  17:42
13  20240331174234898681    José Ignacio   Plátano   520  2024-03-31  17:42
14  20240331174234898681    José Ignacio  Condones    40  2024-03-31  17:42

In [60]:

nombreprueba1 = 'Deyanira Garay'
productoprueba1 = ['Cigarros', 'Chicles']
precioprueba1 = [3500, 250]

ingresar_factura(nombreprueba1, productoprueba1, precioprueba1)

nombre_prueba = 'José Ignacio'
productos_prueba = ['Manzana', 'Plátano', 'Condones']
precios_prueba = [350, 520, 40]

ingresar_factura(nombre_prueba, productos_prueba, precios_prueba)

Fecha                    2024-03-31
Hora                          17:42
Nombre Cliente Productos
Deyanira Garay Chicles          250
               Cigarros        3500
Fecha                    2024-03-31
Hora                          17:42
Nombre Cliente Productos
José Ignacio   Condones          40
               Manzana          350
               Plátano          520

   Cantidad Ventas  $ Total Vendido
0                6            13980

In [66]:
# Convertir los datos en un DataFrame
df = pd.concat([pd.DataFrame(item) for item in g_detalle_facturas], ignore_index=True)

# Mostrar el DataFrame
print(df)

          Codigo Factura  Nombre Cliente Productos     $       Fecha   Hora
0   20240331130521551546    José Ignacio   Manzana   350  2024-03-31  13:05
1   20240331130521551546    José Ignacio   Plátano   520  2024-03-31  13:05
2   20240331130521551546    José Ignacio  Condones    40  2024-03-31  13:05
3   20240331130534687298  Deyanira Garay  Cigarros  3500  2024-03-31  13:05
4   20240331130534687298  Deyanira Garay   Chicles   250  2024-03-31  13:05
5   20240331174100051738  Deyanira Garay  Cigarros  3500  2024-03-31  17:41
6   20240331174100051738  Deyanira Garay   Chicles   250  2024-03-31  17:41
7   20240331174100082420    José Ignacio   Manzana   350  2024-03-31  17:41
8   20240331174100082420    José Ignacio   Plátano   520  2024-03-31  17:41
9   20240331174100082420    José Ignacio  Condones    40  2024-03-31  17:41
10  20240331174234852658  Deyanira Garay  Cigarros  3500  2024-03-31  17:42
11  20240331174234852658  Deyanira Garay   Chicles   250  2024-03-31  17:42
12  20240331174234898681    José Ignacio   Manzana   350  2024-03-31  17:42
13  20240331174234898681    José Ignacio   Plátano   520  2024-03-31  17:42
14  20240331174234898681    José Ignacio  Condones    40  2024-03-31  17:42