# Módulo 2 Sprint

**Vamos a crear un sistema de facturación y bodega simplificado, el cual tendra diferentes opciones:**

*a) **Ingresar producto:** debe ingresarse el nombre y el precio del producto.  Tendrá un sub menú: nuevo producto, guardar archivo o volver.*

In [1]:
import pandas as pd


mix_inicial = {   
    'nombre': ['Arroz', 'Fideos', 'Aceite de cocina', 'Harina', 'Leche', 'Azúcar', 'Café', 'Pan', 'Galletas', 'Mantequilla',
               'Queso', 'Yogur', 'Agua mineral', 'Jugos', 'Frutas frescas', 'Verduras', 'Carne de pollo', 'Carne de res',
               'Pescado', 'Helado'],
    'precio': [1500, 1200, 18000, 2000, 3000, 2500, 5000, 1500, 3500, 2800, 6000, 2000, 1200, 4000, 7000, 5500, 4800, 10000, 9000, 2500]
}

# Precargar el diccionario productos_master con los datos proporcionados
productos_master = {'producto': [{'nombre': nombre, 'precio': precio} for nombre, precio in zip(mix_inicial['nombre'], mix_inicial['precio'])]}

def agregar_producto(productos_master, nombre_producto, precio_producto):
    # Verificar si la clave 'producto' ya existe en el diccionario
    if 'producto' in productos_master:
        # Verificar si el nombre del producto ya está en la lista
        if nombre_producto in [producto['nombre'] for producto in productos_master['producto']]:
            print('_' * 50)
            print(f"El producto '{nombre_producto}' ya se encuentra en la lista.")
            print('_' * 50)
        else:
            # Agregar el nombre del producto y su precio a la lista existente
            productos_master['producto'].append({'nombre': nombre_producto, 'precio': precio_producto})
    else:
        # Crear una nueva lista con el nombre del producto y su precio
        productos_master['producto'] = [{'nombre': nombre_producto, 'precio': precio_producto}]

def mostrar_productos_en_df(productos_master):
    if 'producto' in productos_master:
        df = pd.DataFrame(productos_master['producto'])
        print(' Lista de Productos '.center(50, '='))
        print('_' * 50)
        print(df)
    else:
        print("El diccionario no contiene información de productos.")

# Ejemplo de uso:
agregar_producto(productos_master, 'Manzana', 0.5)
agregar_producto(productos_master, 'Plátano', 0.3)
agregar_producto(productos_master, 'Naranja', 0.4)
agregar_producto(productos_master, 'Manzana', 0.5)  # Este producto ya está en la lista

mostrar_productos_en_df(productos_master)

__________________________________________________
El producto 'Manzana' ya se encuentra en la lista.
__________________________________________________
=============== Lista de Productos ===============
__________________________________________________
              nombre   precio
0              Arroz   1500.0
1             Fideos   1200.0
2   Aceite de cocina  18000.0
3             Harina   2000.0
4              Leche   3000.0
5             Azúcar   2500.0
6               Café   5000.0
7                Pan   1500.0
8           Galletas   3500.0
9        Mantequilla   2800.0
10             Queso   6000.0
11             Yogur   2000.0
12      Agua mineral   1200.0
13             Jugos   4000.0
14    Frutas frescas   7000.0
15          Verduras   5500.0
16    Carne de pollo   4800.0
17      Carne de res  10000.0
18           Pescado   9000.0
19            Helado   2500.0
20           Manzana      0.5
21           Plátano      0.3
22           Naranja      0.4

*b) Ingresar factura: debe ingresarse el nombre del cliente, luego deberá generar un submenú: ingresar producto, guardar y salir. Los productos se ingresan con nombre y precio. La factura además debe guardar la fecha y hora actual de la venta.*

In [2]:
import pandas as pd
from datetime import datetime


g_detalle_facturas = []

In [3]:
def ingresar_factura(nombre, productos_lista, precio_lista):
    global g_codigo_factura
    global g_monto_total_vendido
    global g_detalle_facturas

    fecha = datetime.now()
    dia_factura = fecha.date()
    hora_factura = fecha.time().strftime('%H:%M')

    codigo_factura = str(fecha)
    codigo_factura = codigo_factura.replace('-',  '').replace(':', '').replace('.', '').replace(' ', '')
    codigo_factura_lista = [codigo_factura] * len(productos_lista)
    nombre_lista = [nombre] * len(productos_lista)
    dia = [dia_factura] * len(productos_lista)
    hora = [hora_factura] * len(productos_lista)

    df_factura = pd.DataFrame({'Codigo Factura' : codigo_factura_lista, 'Nombre Cliente': nombre_lista, 'Productos': productos_lista, '$': precio_lista, 'Fecha': dia, 'Hora': hora})

    factura_productos_por_clientes = df_factura.groupby(['Nombre Cliente', 'Productos', 'Fecha', 'Hora'])['$'].sum().reset_index()

    df_factura_productos_por_cliente = factura_productos_por_clientes.pivot_table(index=['Nombre Cliente', 'Productos'], columns=['Fecha', 'Hora'], values='$',
                                                                                     aggfunc='sum', fill_value=0)

    # Agregar el DataFrame de detalle al diccionario de detalle de facturas
    #g_detalle_facturas[codigo_factura] = df_factura

    g_detalle_facturas.append(df_factura)

    print(df_factura_productos_por_cliente)
    #print(codigo_factura)
    #print(factura_monto_total)

In [4]:
nombre_prueba = 'José Ignacio'
productos_prueba = ['Manzana', 'Plátano', 'Condones']
precios_prueba = [350, 520, 40]

ingresar_factura(nombre_prueba, productos_prueba, precios_prueba)

Fecha                    2024-03-31
Hora                          12:50
Nombre Cliente Productos
José Ignacio   Condones          40
               Manzana          350
               Plátano          520

In [5]:
nombreprueba1 = 'Deyanira Garay'
productoprueba1 = ['Cigarros', 'Chicles']
precioprueba1 = [3500, 250]


ingresar_factura(nombreprueba1, productoprueba1, precioprueba1)

Fecha                    2024-03-31
Hora                          12:50
Nombre Cliente Productos
Deyanira Garay Chicles          250
               Cigarros        3500

In [7]:
df_ventas_totales = df.groupby('Codigo Factura')['$'].sum().reset_index()

total_filas = len(df_ventas_totales)
total_venta = df_ventas_totales['$'].sum()

resumen_df = pd.DataFrame({
    'Cantidad Ventas': [total_filas],
    '$ Total Vendido': [total_venta]
})

print(resumen_df)

   Cantidad Ventas  $ Total Vendido
0                2             4660

In [8]:
df_ventas_por_usuario = df.groupby(['Codigo Factura', 'Nombre Cliente'])['$'].sum().reset_index()
df_ventas_por_usuario = df_ventas_por_usuario.sort_values(by='Nombre Cliente')
df_ventas_por_usuario

         Codigo Factura  Nombre Cliente     $
1  20240331125027888585  Deyanira Garay  3750
0  20240331125017601248    José Ignacio   910

In [9]:
df_ventas_por_producto = df.groupby('Productos')['$'].agg(TotalVendido='sum', CantidadVendida='count').reset_index()

df_ventas_por_producto

  Productos  TotalVendido  CantidadVendida
0   Chicles           250                1
1  Cigarros          3500                1
2  Condones            40                1
3   Manzana           350                1
4   Plátano           520                1

In [10]:
df_ventas_diarias = df.groupby(['Codigo Factura', 'Fecha', 'Nombre Cliente'])['$'].sum().reset_index()
df_ventas_diarias = df_ventas_diarias.groupby('Fecha')['$'].agg(Total='sum', Cantidad='count').reset_index()
df_ventas_diarias

        Fecha  Total  Cantidad
0  2024-03-31   4660         2

In [6]:
# Convertir los datos en un DataFrame
df = pd.concat([pd.DataFrame(item) for item in g_detalle_facturas], ignore_index=True)

# Mostrar el DataFrame
print(df)

         Codigo Factura  Nombre Cliente Productos     $       Fecha   Hora
0  20240331125017601248    José Ignacio   Manzana   350  2024-03-31  12:50
1  20240331125017601248    José Ignacio   Plátano   520  2024-03-31  12:50
2  20240331125017601248    José Ignacio  Condones    40  2024-03-31  12:50
3  20240331125027888585  Deyanira Garay  Cigarros  3500  2024-03-31  12:50
4  20240331125027888585  Deyanira Garay   Chicles   250  2024-03-31  12:50

In [11]:
print(g_detalle_facturas)

[         Codigo Factura Nombre Cliente Productos    $       Fecha   Hora
0  20240331125017601248   José Ignacio   Manzana  350  2024-03-31  12:50
1  20240331125017601248   José Ignacio   Plátano  520  2024-03-31  12:50
2  20240331125017601248   José Ignacio  Condones   40  2024-03-31  12:50,          Codigo Factura  Nombre Cliente Productos     $       Fecha   Hora
0  20240331125027888585  Deyanira Garay  Cigarros  3500  2024-03-31  12:50
1  20240331125027888585  Deyanira Garay   Chicles   250  2024-03-31  12:50]

In [13]:
g_detalle_facturas[1]

         Codigo Factura  Nombre Cliente Productos     $       Fecha   Hora
0  20240331125027888585  Deyanira Garay  Cigarros  3500  2024-03-31  12:50
1  20240331125027888585  Deyanira Garay   Chicles   250  2024-03-31  12:50