# Módulo 2 Ejercicio 4

**1. Continuaremos trabajando con nuestros datos de supermercado.  Para esto cargaremos los 4 archivos (clientes, boletas, detalle y productos) y responderemos a las siguientes preguntas:** s:

*a. Generar un DataFrame con cada archivo*

In [ ]:
# Importamos librería Pandas
import pandas as pd

# Cargamos la información en una variable y luego las transformamos a DataFrame
clientes = pd.read_csv('clientes.csv', encoding='latin1')
boletas = pd.read_csv('boletas.csv', encoding='latin1')
detalle = pd.read_csv('detalle.csv', encoding='latin1')
productos = pd.read_csv('productos.csv', encoding='latin1')

df_clientes = pd.DataFrame(clientes)
df_boletas = pd.DataFrame(boletas)
df_detalle  = pd.DataFrame(detalle)
df_productos = pd.DataFrame(productos)

In [ ]:
# Desplegamos en pantalla el df_clientes
df_clientes

In [ ]:
# Desplegamos en pantalla el df_boletas
df_boletas

In [ ]:
# Desplegamos en pantalla el df_detalle
df_detalle

In [ ]:
# Desplegamos en pantalla el df_productos
df_productos

*b. ¿Cuántos datos tiene cada DataFrame?*

In [ ]:
# Creamos mensaje de impresión que incluye código para obtener la cantidad de elementos de cada DataFrame
print('La cantidad de datos en el DataFrame clientes es', df_clientes.size)
print('La cantidad de datos en el DataFrame boletas es', df_boletas.size)
print('La cantidad de datos en el DataFrame detalle es', df_detalle.size)
print('La cantidad de datos en el DataFrame productos es', df_productos.size)

*c. ¿Cuántos clientes no tienen mail?*

In [ ]:
# Creamos una variable para obtener la cantidad de datos faltantes en la columna mail del DataFrame clientes
valores_nan_df_clientes = df_clientes['email'].isna().sum()

#  Mostramos el resultado por pantalla
print('La cantidad de clientes que no tienen registrado su mail en la base de datos es:', valores_nan_df_clientes)

*d. Genera un filtro para saber a qué clientes les falta un dato (cualquiera)*

In [ ]:
# Creamos un filtro para obtener las filas del df_clientes que tienen al menos una entrada faltante
clientes_info_incompleta = df_clientes.isna().any(axis=1)

# Usamos el df_cilentes_info_incompleta para filtrar la información y obtener el nombre de los  clientes con información incompleta
clientes_falta_data =  df_clientes[df_clientes_info_incompleta]

#Desplegamos en pantalla  los clientes con información incompleta
print('A los clientes que al menos le falta  alguna entrada de datos son:')
df_clientes_falta_data = pd.DataFrame(clientes_falta_data)
df_clientes_falta_data['nombre']

*e. ¿A cuantos clientes les faltan datos?*

In [ ]:
# Configuramos el mensaje para informar la cantidad de clientes con datos faltantes mediante el método .shape[] para contar la cantidad de columnas del df
print('La cantidad de clientes a los que le falta, al menos, un dato es', df_clientes_falta_data.shape[0])

*f. Agregar una nueva columna a todos los clientes, que indique si le falta algún dato o no (con un mapeo)*

In [ ]:
# Agregamos una nueva columna con el estado de la información usando el filtro clientes_info_incompleta y método .map() para configurar la información de la columna
df_clientes['info_completa'] = clientes_info_incompleta.map({True: 'Falta Información', False: 'Información Completa'})

# Despliega en pantalla el df_clientes con la nueva información agregada
df_clientes

*g. A todos los clientes que les falten datos, deben rellenarse con un S/I, excepto la fecha de nacimiento*

In [ ]:
# Creamos una variable que nos permita identificar las columnas que no se deben rellenar con método columns.difference()
columnas_a_rellenar = df_clientes.columns.difference(['fecha_nacimiento'])

# Usamos el método .fillna() para rellenar el df_clientes reemplazando NaN por 'S/I'"Nueva carpeta"
df_clientes[columnas_a_rellenar] = df_clientes[columnas_a_rellenar].fillna('S/I')

# Desplegamos el df_clientes actualizado con la nueva información
df_clientes

*h. Busque en los productos si existe algún outlier*

In [ ]:
# Calculamos el rango intercuartil (IQR) para la columna de precios
Q1 = df_productos['precio'].quantile(0.25)
Q3 = df_productos['precio'].quantile(0.75)
IQR = Q3 - Q1

# Definimos los límites inferior y superior basados en el IQR
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtra y segrega los productos outliers del DataFrame
productos_outliers = df_productos[(df_productos['precio'] < limite_inferior) | (df_productos['precio'] > limite_superior)]

print('Los productos outlier en el df_productos son:')
print(productos_outliers)

**2. El archivo “M3E4 - titanic.csv” contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:**

*a. Generar un DataFrame con los datos del fichero*

In [7]:
# Importamos librería pandas
import pandas as pd

# Cargamos los datos del archivo titanic.csv y lo convertimos a un dataFrame
titanic = pd.read_csv('Titanic.csv')

df_titanic = pd.DataFrame(titanic)

df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q